.sidebar {
  left: -8rem;
  width: 8rem;
}
.sidebar.on {
  left: 0;
}
.content.on {
  margin-left: 0 !important;
}
.navbar-toggle {
  left: 9.5rem;
}
.search-form-wrap {
  right: 8rem;
}
.card-div {
  font-family: "Menlo", "PingFangSC", "PingFang SC", "Microsoft YaHei", "微软雅黑", "STXihei", "华文细黑", Georgia, "Times New Roman", Arial, sans-serif;
  font-size: 1.4rem;
  height: auto;
  width: 100%;
  border-radius: 15px;
  margin-top: -4rem;
  padding: 10px;
  background-color: #f4eeee;
}
.card-image-content {
  width: 20vmin;
  display: inline-block;
}
.card-text-content {
  display: inline-block;
}
.card-name {
  font-size: 1.4rem;
  font-weight: bold;
  width: 100px;
  display: inline-block;
}
.card-star {
  background-color: #fafafa;
  border-radius: 8px;
  padding: 2px;
  width: auto;
  font-size: 1.2rem;
  color: #e9a3a3;
  display: inline-block;
}
.card-wechat {
  width: 50px;
  height: auto;
  display: inline-block;
  text-align: center;
}
.card-corp {
  font-size: 1.4rem;
}
.card-number {
  font-size: 1.4rem;
}
.card-div img {
  width: 18vmin;
  border-radius: 50%;
}
.card-wechat img {
  width: 2rem;
  height: 2rem;
}
@media (min-width: 768px) {
  .card-div {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .outer,
  .wrap {
    width: 80rem !important;
  }
}
@media (max-width: 768px) {
  .tocbot {
    display: none !important;
  }
  .sidebar {
    left: 0;
  }
  .sidebar.on {
    left: -8rem;
  }
  .content {
    transform: translateX(8rem);
  }
  .content.on {
    transform: translateX(0);
  }
}
.article-abstract-text {
  color: #9c8f66;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
